---
layout: page
# All the Categories of posts (single-level, flat list)
---


{% assign sort_categories = site.categories | sort %}

<div class="card categories">
  <ul class="list-group list-group-flush">
    {% for category in sort_categories %}
      {% assign category_name = category | first %}
      {% assign posts_of_category = category | last %}
      {% assign posts_size = posts_of_category | size %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        <i class="far fa-folder fa-fw"></i>
        <a href="{{ site.baseurl }}/categories/{{ category_name | slugify | url_encode }}/"
          class="ml-1 mr-2">{{ category_name }}</a>
      </span>
      <span class="text-muted small font-weight-light">{{ posts_size }}
        post{% if posts_size > 1 %}s{% endif %}
      </span>
    </li>
    {% endfor %}
  </ul>
</div>
